
img{
	width: 200px;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.head li{
	display: inline;
	list-style-type: none;
	margin-top: 25px;
	height: 100px;
	padding-top: 25px;


}
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}
header{
	margin: 0;
}
footer{
	text-align: center;
	position: absolute;
	background-color: black;
	color: white;
	bottom: 0;
	width: 100%;
	height: 25px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color:black;
}
li{
	margin: 10px
}
li :hover{
	background-color: black;
	border-radius: 2px;
	color: white;
}
.icons{
	height: 50px;
	width: 90%;
	text-align: right;
	padding-top: 25px;

}
.banner{
	background-color: #e4bc0c;
	height: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.top .title{
	display: inline-block;

}
.weeks{
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;

}
.title{
	font-size: 50px;
	display: inline-block;
	float: left;
}
.sidebar{
	display: inline-block;
	margin-left: 10%;
	width: 200px;
	padding-bottom: 10px;
	background-color: #e4bc0c;
	border-radius: 5px;
	float: left;
}
.wrapper{
	position: relative;
	padding-bottom: 25px;
	position: inline-block;
}
.posts{
	display: inline-block;
	max-width: 500px;
	width: 100%;
	margin:0;
	max-height: 1000px;
	height: 70%;

}

.bio{
	text-align: left;
	margin-top: 10px;
}

.name{
	font-weight: 500px;
	margin:10px;
}
.date{
	display: inline-block;
}