@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url(http://themes.googleusercontent.com/static/fonts/quicksand/v3/qhfoJiLu10kFjChCCTvGlKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
img{
	width: 200px;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


body{
	margin: 0;
	font-family: 'Quicksand';
}
header{
	margin: 0;
}
.banner{
	background-color: #e4bc0c;
	height: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.top{
	display: inline-block;
}
.weeks{
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;

}
.title{
	font-size: 50px;
	display: inline-block;
}
.sidebar{
	display: inline-block;
	margin-left: 10%;
	width: 200px;
	padding-bottom: 10px;
	background-color: #e4bc0c;
	border-radius: 5px;

}

.wrapper{
	display: inline-block;
	max-width: 500px;
	margin:0;
}

.bio{
	text-align: left;
}

.name{
	text-align: center;
}
.date{
	display: inline-block;
}