header{
	text-align: center;
}

.sideimg{
	height: 150px;
	width:  150px;
	float: left;
}

p.indented { 
	margin: 0px;
	padding: 0px;   
	text-indent: 20px; 
} 

.fondo{
	background-color: grey ;
	border-radius: 10px;
	padding: 7px;
	margin-bottom: 20px;
	margin-right: 140px;
	margin-left: 140px;
}

footer{
	text-align: center;
	position: relative;
}

#logos{
	background-color: grey ;
	border-radius: 10px;
	padding: 7px;
	margin-bottom: 20px;
	margin-right: 240px;
	margin-left: 240px;
	text-align: center;
	vertical-align: middle;

}

img{
	width: 200px;
	height: auto;
	vertical-align: center;	
	margin: 10px;
}
